h2 {
    font-size: 20px;
}

input {
    border: none;
    padding-left: 5px;
    border-radius: 10px;
}

.taskShell {
    height: 60px;
    width: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    margin: 10px 0;
    padding: 10px 15px;
    position: relative;
}

.goalShell {
    background: lightgrey;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    position: relative;
    min-width: 320px;
}

.goalHeader {
    display: flex;
}

.addButton {
    background: rgba(30, 155, 30, 0.75);
    border-radius: 10px;
    height: 25px;
    width: 60px;
    size: 15px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.addButton:hover {
    background: rgba(1, 100, 1, 0.75);
}

.delete {
    height: 25px;
    width: 25px;
    background: rgba(255, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.delete:hover {
    background: rgba(165, 0, 0, 0.75);
}

.editTask {
    height: 25px;
    width: 25px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.editGoal .editDot {
    background: grey;
}

.editGoal:hover .editDot {
    background: whitesmoke;
}

.editGoal {
    width: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.editDot {
    height: 5px;
    width: 5px;
    background: rgb(163, 163, 163, .75);
    border-radius: 5px;
}

.editTask:hover .editDot {
    background: grey;
}

.status {
    position: absolute;
    height: 60px;
    width: 10px;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.inProgress {
    background: rgba(255, 166, 0, 0.75);
}

.stuck {
    background: rgba(165, 0, 0, 0.75);
}

.done {
    background:rgba(1, 100, 1, 0.75)
}

div>p:last-child {
    margin-top: 7px;
}

.assignUser {
    color: lightgrey;
}

div>p:first-child {
    border-bottom: 1px lightgrey solid;
    width: 25%;
}