<div class="goalShell">
  <div class="goalHeader">
    <h2>{{item.name}}</h2>

    <div class="editGoal">
      <div class="editDot"></div>
      <div class="editDot"></div>
      <div class="editDot"></div>
    </div>
  </div>

  <div>
    <div *ngFor="let task of item.tasks" class="taskShell">
      <div *ngIf="task.status === 'Added'"></div>
      <div *ngIf="task.status === 'In Progress'" class="status inProgress"></div>
      <div *ngIf="task.status === 'Stuck'" class="status stuck"></div>
      <div *ngIf="task.status === 'Done'" class="status done"></div>
      <div>
        <p>{{task.task}}</p>
        <p *ngIf="task.assignedUser">{{task.assignedUser}}</p>
        <p *ngIf="!task.assignedUser" class="assignUser">Assign User</p>
      </div>

      <div class="editTask">
        <div class="editDot"></div>
        <div class="editDot"></div>
        <div class="editDot"></div>
      </div>

      <div class="delete" (click)="deleteTask(task.id)">X</div>
    </div>

    <div class="addButton" (click)="addTask(item.id)">+Task</div>
  </div>

  <div class="delete" (click)="deleteGoal(item.id)">X</div>
</div>