input {
    border: none;
    background: lightgrey;
    border-radius: 10px;
    padding-left: 5px;
    margin-left: 10px;
    font-size: 25px;
}

.headerShell {
    background: rgba(255, 255, 255);
    width: 100%;
    height: 50px;
    padding: 0px 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
}

.headerLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 175px;
}

.fa-home {
    font-size: 30px;
    color: rgb(163, 163, 163, .75);
}

.fa-home:hover {
    color: grey;
}

.boardTitle {
    font-size: 25px;
}

.goalShell {
    display: flex;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.editPencil {
    height: 20px;
    width: 18px;
    background-image: url('../../edit.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.editPencilBackdrop {
    height: 30px;
    width: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.editPencilBackdrop:hover {
    background:grey;
}

.addButtonShell {
    width: 320px;
    margin-top: 10px
}

.addButton {
    background: rgba(30, 155, 30, 0.75);
    border-radius: 10px;
    height: 25px;
    width: 80px;
    size: 15px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
}

.addButton:hover {
    background: rgba(1, 100, 1, 0.75);
}

.editButton {
    background: rgba(30, 155, 30, 0.75);
    border-radius: 10px;
    height: 25px;
    width: 120px;
    size: 15px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editButton:hover {
    background: rgba(1, 100, 1, 0.75);
}