h2 {
    font-size: 20px;
}

input {
    border: none;
    padding-left: 5px;
    border-radius: 10px;
}

.taskShell {
    height: 60px;
    width: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    margin: 10px 0;
    padding: 10px 15px;
    position: relative;
}

.goalShell {
    background: lightgrey;
    padding: 10px;
    margin: 10px 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    position: relative;
    min-width: 320px;
}

.goalHeader {
    display: flex;
}

.addButton {
    background: rgba(30, 155, 30, 0.75);
    border-radius: 10px;
    height: 25px;
    width: 70px;
    size: 15px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.addButton:hover {
    background: rgba(1, 100, 1, 0.75);
}

.delete {
    height: 25px;
    width: 25px;
    background: rgba(255, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.delete:hover {
    background: rgba(165, 0, 0, 0.75);
}

.editPencil {
    height: 20px;
    width: 20px;
    background-image: url('../../edit.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 25px;
}

.editButtonTask {
    background: rgba(30, 155, 30, 0.75);
    border-radius: 10px;
    height: 25px;
    width: 85px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 18px;
}

.editButtonTask:hover {
    background: rgba(1, 100, 1, 0.75);
}

.editPencilTask {
    height: 20px;
    width: 20px;
    background-image: url('../../edit.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 25px;
    position: absolute;
    bottom: 7px;
    right: 0;
}

.editButton {
    background: rgba(30, 155, 30, 0.75);
    border-radius: 10px;
    height: 25px;
    width: 85px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 10px;
}

.editButton:hover {
    background: rgba(1, 100, 1, 0.75);
}

.editGoal {
    width: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.editDot {
    height: 5px;
    width: 5px;
    background: rgb(163, 163, 163, .75);
    border-radius: 5px;
}

.status {
    position: absolute;
    height: 60px;
    width: 10px;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.statusCircle {
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.inProgress {
    background: rgba(255, 166, 0, 0.75);
}

.stuck {
    background: rgba(165, 0, 0, 0.75);
}

.done {
    background:rgba(1, 100, 1, 0.75)
}

.taskSelect>p:last-child {
    margin-top: 7px;
}

.assignUser {
    color: lightgrey;
}

.taskSelect>p:first-child {
    border-bottom: 1px lightgrey solid;
    width: 25%;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: lightgray transparent transparent transparent;
}

.changeUserShell:hover .triangle {
    border-color: grey transparent transparent transparent;
}

.changeStatusShell:hover .triangle {
    border-color: grey transparent transparent transparent;
}

.changeStatusShell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 105px;
    margin: 0;
}

.statusSelectMenu {
    width: 105px;
    background: white;
    position: absolute;
    top: 18px;
    z-index: 1;
}

.statusChoice {
    display: flex;
    justify-content: space-between;
}

.statusPlaceholder {
    height: 10px;
    width: 10px;
}

.taskInput {
    background: whitesmoke;
    margin-right: 5px;
    width: 155px;
}

.changeUserShell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 155px;
    margin-top: 5px;
}

.userSelectMenu {
    width: 155px;
    background: white;
    position: absolute;
    top: 18px;
    z-index: 1;
}

.mate {
    padding: 5px;
    border-top: 3px solid whitesmoke
}

.mate:hover {
    background: whitesmoke;
}

.UserSelect {
    min-width: 100px;
}

@media (max-width: 321px) {
    .goalShell {
        margin: 10px 0;
    }
}