h2 {
    font-size: 20px;
}

input {
    border: none;
    padding-left: 5px;
    border-radius: 10px;
}

.goalShell {
    background: lightgrey;
    padding: 10px;
    margin: 10px 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    position: relative;
    min-width: 320px;
}

.goalHeader {
    display: flex;
}

.addButton {
    background: rgba(30, 155, 30, 0.75);
    border-radius: 10px;
    height: 25px;
    width: 70px;
    size: 15px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.addButton:hover {
    background: rgba(1, 100, 1, 0.75);
}

.delete {
    height: 25px;
    width: 25px;
    background: rgba(255, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.delete:hover {
    background: rgba(165, 0, 0, 0.75);
}

.editPencil {
    height: 20px;
    width: 20px;
    background-image: url('../../edit.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 25px;
}

.editButton {
    background: rgba(30, 155, 30, 0.75);
    border-radius: 10px;
    height: 25px;
    width: 85px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 10px;
}

.editButton:hover {
    background: rgba(1, 100, 1, 0.75);
}

.editGoal {
    width: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.editDot {
    height: 5px;
    width: 5px;
    background: rgb(163, 163, 163, .75);
    border-radius: 5px;
}

@media (max-width: 321px) {
    .goalShell {
        margin: 10px 0;
    }
}