input {
    border: none;
    background: lightgrey;
    border-radius: 10px;
    padding-left: 5px;
}

.boardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boardShell {
    background: white;
    padding: 10px;
    margin: 10px;
    position: relative;
    width: 35%;
    min-width: 320px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
}

.editPencil {
    height: 25px;
    background-image: url('../edit.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 10px;
}

.delete {
    height: 25px;
    width: 25px;
    background: rgba(255, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.delete:hover {
    background: rgba(165, 0, 0, 0.75);
}

.addButton {
    background: rgba(30, 155, 30, 0.75);
    border-radius: 10px;
    height: 25px;
    width: 75px;
    size: 15px;
    margin: 10px auto;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addButton:hover {
    background: rgba(1, 100, 1, 0.75);
}

.editButton {
    background: rgba(30, 155, 30, 0.75);
    border-radius: 10px;
    height: 25px;
    width: 120px;
    size: 15px;
    margin-top: 10px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editButton:hover {
    background: rgba(1, 100, 1, 0.75);
}

@media (max-width: 321px) {
    .boardShell {
        margin: 10px 0px;
    }
}

@media (min-width: 769px) {
    .boardShell {
        width: 400px;
    }
}