<div class="boardContainer">
  <div *ngFor="let board of boards">
    <div routerLink="board/{{board.id}}" class="boardShell">
  
      <input *ngIf="edit === board.id" value="{{board.name}}" (keyup)="changeName($event)" (click)="changeName($event)"/>
      <p *ngIf="!edit || edit !== board.id">{{board.name}}</p>
  
      <div class="editDots" (click)="toggleEdit($event, board.id)">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
  
      <div class="delete" (click)="removeBoard(board.id, $event)">X</div>
    </div>
  </div>

</div>
<div class="addButton" (click)="addBoard()">+Board</div>

